### Local Dev
export DJANGO_SETTINGS_MODULE="api.settings.local"
export SECRET_KEY="<Random generated Django secret key>"
export SQL_DB_NAME="<DB Name>"
export SQL_DB_USERNAME="<DB Username>"
export SQL_DB_PASSWORD="<DB Password>"
export SQL_DB_HOST="<DB Host ex: https://mydomain.com>"
export SQL_DB_PORT="<DB Port (3306)>"

export DOMAIN="127.0.0.1:8000"
export DEFAULT_FROM_EMAIL="support@mail.example.com"
export SITE_NAME="example.com"

export TO_EMAIL_ADDRESS="testemailaccount@example.com"
export EMAIL_HOST_NAME="mail.example.com"
export SPARKPOST_API_KEY=""
export EMAIL_BACKEND="sparkpost.django.email_backend.SparkPostEmailBackend"

export USE_S3_STATIC=""
export CUSTOM_AWS_ACCESS_KEY_ID=""
export CUSTOM_AWS_SECRET_ACCESS_KEY=""
export AWS_STORAGE_BUCKET_NAME=""

#### Prod
# export DJANGO_SETTINGS_MODULE="api.settings.prod"
# export SECRET_KEY="<Random generated Django secret key>"
# export SQL_DB_NAME="<DB Name>"
# export SQL_DB_USERNAME="<DB Username>"
# export SQL_DB_PASSWORD="<DB Password>"
# export SQL_DB_HOST="<DB Host ex: https://mydomain.com>"
# export SQL_DB_PORT="<DB Port (3306)>"

# export DOMAIN="127.0.0.1:8000"
# export DEFAULT_FROM_EMAIL="support@mail.example.com"
# export SITE_NAME="example.com"

# export TO_EMAIL_ADDRESS="testemailaccount@example.com"
# export EMAIL_HOST_NAME="mail.example.com"
# export SPARKPOST_API_KEY=""
# export EMAIL_BACKEND="sparkpost.django.email_backend.SparkPostEmailBackend"

# export USE_S3_STATIC=""
# export CUSTOM_AWS_ACCESS_KEY_ID=""
# export CUSTOM_AWS_SECRET_ACCESS_KEY=""
# export AWS_STORAGE_BUCKET_NAME=""
