### Local Dev
export DJANGO_SETTINGS_MODULE="api.settings.local"
export SECRET_KEY="<Random generated Django secret key>"
export SQL_DB_NAME="<DB Name>"
export SQL_DB_USERNAME="<DB Username>"
export SQL_DB_PASSWORD="<DB Password>"
export SQL_DB_HOST="<DB Host ex: https://mydomain.com>"
export SQL_DB_PORT="<DB Port (3306)>"
export USE_S3_STATIC=""
export CUSTOM_AWS_ACCESS_KEY_ID=""
export CUSTOM_AWS_SECRET_ACCESS_KEY=""
export AWS_STORAGE_BUCKET_NAME=""

#### Prod
# export DJANGO_SETTINGS_MODULE="api.settings.prod"
# export SECRET_KEY="<Random generated Django secret key>"
# export SQL_DB_NAME="<DB Name>"
# export SQL_DB_USERNAME="<DB Username>"
# export SQL_DB_PASSWORD="<DB Password>"
# export SQL_DB_HOST="<DB Host ex: https://mydomain.com>"
# export SQL_DB_PORT="<DB Port (3306)>"
# export USE_S3_STATIC=""
# export CUSTOM_AWS_ACCESS_KEY_ID=""
# export CUSTOM_AWS_SECRET_ACCESS_KEY=""
# export AWS_STORAGE_BUCKET_NAME=""
